%button {
  position:relative;
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: $blue;
  display: inline-block;
  // font-size: $base-font-size;
  font-weight: normal;
  line-height: 1;
  padding: 0.75em 1em;
  padding-right:2em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    background-color: $hover-button-color;
    color:$blue;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding-right:1em;
}

.btn,
.btn-important,
.btn-slide-in {
  @extend %button;
    &:after{
    content: '';
    background-image: url(img/ico-arrow-gray.svg);
    background-size: 1em;
    background-position: center;
    display: block;
    top: 0;
    bottom: 0;
    right: .5em;
    position: absolute;
    width: 20px;
    height: auto;
    background-repeat: no-repeat;
  }
}

.btn-slide-in{
  font-size: $medium-font-size;
   -webkit-box-shadow: 2px 2px 7px 0px #000; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 2px 2px 7px 0px #000; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}
