.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
/*=============== Site Header ===============*/

.site-header{
  width:100%;
  background-color:rgba(255,255,255,0.90);
  z-index: 50;
  .inner-wrap{
    padding:.5em 1.5em;
  }
}

.home .site-header {
  @include transition(all .3s ease-in-out);
}

.mobile-header{
  margin-top:em(15);
  @include transition(all .3s ease-in-out);
  @include mq(large){
    display: none;
  }
}
.site-logo img{
  display: block;
  margin:auto;
  @include transition(all .3s ease-in-out);
}



.site-utility-nav {
  padding:0.5em 1em;
  overflow: hidden;
  display: block;
  background-color: $light-gray;
  @include mq(medium) {
    display: none;
  }
}

.site-search {
}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  background-size: 24px;
  //background-color:red;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  font-weight: bold;
  color:$blue;
  @include span-columns(8 of 12);
}

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
  text-indent: -99999999px;
}

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  background-position: 15px 7px;
  @extend %sh-ico;
  @include mq(medium) {
    display: none;
  }
}

.wp-site-logo{
  background-image:url(img/site-logo.png);
  background-repeat:no-repeat;
  background-size:169px;
  height:102px;
  background-position:50% 95%;
  text-indent:-9999px;
  overflow: hidden;
  @include transition(all .3s ease-in-out);

  a{
    overflow:hidden;
    height:102px;
  }
}

nav .search-link{
  background-image: url(img/ico-search.svg);
  background-position: 50%;
  background-size:em(20);
  background-repeat:no-repeat;
  text-indent: -9999px;
}
/*=============== Site Content ===============*/

.site-content {
  h1,h2,h3{
    color: $blue;
  }
  h4,h5,h6{
    color:$black;
  }
}

.emph{
  color:$blue;
  font-size: $base-font-size;
}

.site-content-primary {
  h1,h2,h3{
    color:$blue;
  }
}

blockquote{
  padding:1em;
  padding-left:1.5em;
  border:$light-gray;
  border-left:solid 10px $blue;
  background-color: #f4f4f4;
  font-size: $small-font-size;

  p:first-child{
    margin-top:0;
  }

  footer{
    font-style: italic;
    font-weight:bold;
  }
}

// .site-content-secondary {
//   @include span-columns(3 of 12);
// }

/*=============== Site Intro ===============*/

.site-intro{
  .inner-wrap{
    padding:em(15) 1.5em;
  }
}

.si-statement-block{
  border:solid 3px $blue;
  padding:1.5em;
  text-align: center;

}
.si-title{
  margin-top: 0;
  margin-bottom:.25em;
  color:$blue;
}

.si-title-support{
  margin-top: .25em;
  margin-bottom:0;
  font-size:$medium-font-size;
}

@include mq(medium){
  .si-title{
    font-size:2em; 
  }
}

@include mq(large){
  .si-title{
    font-size:2em; 
  }
}


/*=============== Capabilities Section ===============*/

.capabilities-section{
  .inner-wrap{
    padding:0 1.5em;
  }
}

.cs-pic{
  display: block;
}

.cs-main-category .cs-title{
  position:absolute;
  left:0;
  right:0;
  text-align: center;
  top:30%;
  color:$yellow;
  font-weight: bold;
  font-size:$medium-font-size;
  @include mq(medium){
    font-size: $base-font-size;
  }
  @include mq(large){
    font-size: $medium-font-size;
  }
}

.cs-title{
  position:absolute;
  left:0;
  right:0;
  text-align: center;
  top:30%;
  font-weight:bold;
  font-size:$medium-font-size;
  @include transition(all .3s ease-in-out);
  @include mq(medium){
    font-size: $base-font-size;
  }
  @include mq(large){
    font-size: $medium-font-size;
  }
}

.cs-cap-category{
  margin-bottom:em(15);
  position:relative;
  background-color: $blue;
  color:$white;
  display: block;
  max-height:100px;
  overflow: hidden;

  &:after{
    content:'';
    width:100%;
    height:45px;
    background-color: rgba(0,0,0,.3);
    position:absolute;
    top:120%;
    z-index: 50;
    @include transition(all .2s ease-in-out);
  }

  img{
    opacity: .6;
    @include transition(all 1.2s ease-in-out);
    display: block;
  }

  &:hover{
    color:$yellow;

    &:after{
      left:0%;
      top:45%;
      @include transition(all .2s ease-in-out);
      z-index:1;
    }

    img{
      opacity: .07;
      @include transition(opacity .3s ease-in-out);
    }

    .cs-title{
      font-size: $small-font-size;
      top:48%;
      z-index: 400;
    }
  }

  @include mq(medium){
    max-height:500px;
    @include span-columns (6 of 18);  
    @include omega(3n);
    .cs-title, .cs-title-main{
      top:40%;
    }
  }
}


/*=============== Highlight Section ===============*/
.highlight-section {
  margin-top:em(15);

  .flex-direction-nav a{
    top:20% !important;
    height: 100px;
    opacity: 1;
    
    @include mq(medium){
      top:45% !important;
    }
  }
  .flex-direction-nav a.flex-next:before{
    background-image: url("img/ico-white-arrow-right.svg")
  }
  .flex-direction-nav a:before {
    display: block;
    content: '';
    height: 5em;
    background-size: 18px;
    padding: 5px;
    background-position: 9px 20px;
    background-repeat: no-repeat;
    background-color: $blue;
    background-image: url("img/ico-white-arrow-left.svg");
    &:hover{
      background-color: red;
    }
  }

  .flex-direction-nav .flex-prev { left: 0px;}
  .flex-direction-nav .flex-next { right: 0px;}


  .flexslider{
    border:solid 3px $blue;
  }

  .flex-viewport{
    max-height:em(2000);
  }

  .inner-wrap{
    padding:0 1.5em;
    margin-bottom:em(15);
  }

  

  @include mq(medium){
      margin-top:0;
  }
}

.hls-title{
  text-align:center;
  margin:50px; 
}

.hls-desc{
  margin:1.5em 0;
}

.hls-img-block, .hls-content-block{
  width:100%;
  @include mq(large){
    @include span-columns (6 of 12);
  }
}

.hls-img-block{
  padding:0 2em;
  img{
    width:60% !important;
    margin:auto;
  }
  @include mq(medium){
    padding-left:3em;
    padding-bottom: 1.5em;
    img{
      width:100% !important;
    }
  }
}

.hls-content-block{
  padding:0 2em;
  text-align: center;
  .btn{
    margin-bottom:1em;
  }
  @include mq(medium){
    padding-right:3em;
    padding-bottom: 1.5em;
    text-align:left;
  }
}

/*=============== Page Intro ===============*/

.page-intro{
  background-size:cover;
  display:none;
  height: 200px;
  @include mq(medium){
    height:424px;
  }
}

.page-id-56 .page-intro{
  display: block;
  background-image: url("img/custom-paint.jpg");
}
.page-id-50 .page-intro{
  display: block;
  background-image: url("img/destination-header.jpg");
}
.page-id-46 .page-intro{
  display: block;
  background-image: url("img/custom-cnc-machining.jpg");
}
.page-id-52 .page-intro{
  display: block;
  background-image: url("img/custom-laser-cutting.jpg");
}
.page-id-54 .page-intro{
  display: block;
  background-image: url("img/custom-welding.jpg");
}
.page-id-60 .page-intro{
  display: block;
  background-image: url("img/portfolio-1-header.jpg");
}
.page-id-62 .page-intro, .page-id-58 .page-intro {
  display: block;
  background-image: url("img/portfolio-2-header.jpg");
}
.page-id-12 .page-intro{
  display: block;
  background-image: url("img/about-us-header.jpg");
}


/*=============== Design Spec Section ===============*/
.design-spec-section{
  background-color: $light-gray;
  
  tr td:first-child{
    border: solid 1px $medium-gray;
  }

  @include mq(medium){
    tr td:first-child{
      border-left:none;
      border-top:none;
      border-left:none;
      border-right: solid 1px $medium-gray;
    }
    tr td{
      border-bottom: solid 1px $medium-gray;
    }
    tr:last-child td{
      border-bottom:none;
    }  
  }
}

// .dss-spec-boxes{
//   overflow: hidden;
// }

.dss-box{
  text-align: center;
  border:solid 1px $medium-gray;
  padding:1em;
  min-height: 250px;

  // @include mq(medium){
  //   @include span-columns(6 of 18);
  //   &:nth-child(3n){
  //     margin-right:0;
  //   }
  // }
  // @include mq(large){
  //   &:nth-child(3n){
  //     margin-right:1.1179667315%;
  //   }
  //   @include span-columns(5 of 25);
  // }
}


/*=============== Site Footer ===============*/  

.site-footer {
  background-color: $blue;
  text-align: center;
  color: $white;
  background-image: url("img/footer-about.jpg");
  background-size:cover;
  @include mq(medium){
    text-align: left;
  }
  .sf-title{
    color:$white;
  }
}

.sf-cta-block, .sf-contact-block{
  @include span-columns (12 of 12);
  @include mq(medium){
    @include span-columns(6 of 12);
  }
}

.sf-cta-block{
  p{
    margin:1.5em 0em;
  }
}

.sf-cta{
  margin-bottom:1.25em;
}

.sf-contact-block{
  border:solid 3px $white;
  padding:1em;
  a{
    color:$white;
    text-decoration: none;
    &:hover{
      color:$yellow;
    }
  }
  @include mq(large){
    padding:3em 3em;
  }
  @include mq(xlarge){
    padding:3em 4em;
  }
}

.sf-texas{
    display: block;
    margin:1.25em auto;
    @include mq(large){
      float:right;
      margin-top:1.25em;
    }
  }

.sf-small {
  background-color: $white;
  color:$blue;
  text-align: center;
  font-size: $small-font-size;
  
  .inner-wrap {
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
  }
  a{
    color:$blue;
  }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}
/*=============== Search ===============*/ 
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em;
}

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0;
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
}

.search-submit {
  width:80%;
  height: 2.3em;
  border: 0;
  float: right;
  padding:.75em .25em !important;
  background: url(img/ico-search-white.svg) no-repeat center center !important;
}

.no-svg {
  .search-submit {
    background: url(img/ico-search.png) no-repeat center center !important;
  }
}

@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em;
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $blue;
  height: 7em;
  margin-top: -7em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
  }
  .inner-wrap {
    padding: 0.3em 1.5em 1em;
  }
}

.search-module.nav-sticky{
  position:fixed;
  top:0;
}

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  //position:absolute;
  top: 0;
  right: 0;
}
/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
}

/*=============== Misc ===============*/

#slidebox{right:-930px;}
#last{padding:0;margin:0;}
