//Site Nav
.site-nav {
  background-color: $nav-background-mobile;
  span {
    white-space: nowrap;
  }
  &.active {
    //display:block;
  }
  @include mq(medium) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background-color: $nav-background;
  }
}

.sn-level-1 {
  margin: 0;
  padding: 0;
}

.sn-li-l1 {
  display: block;
  border-bottom: $nav-border-mobile;
  background-color: $nav-background;
  text-align: center;
  a.active {
    background-color: $nav-active-background;
  }
  span {
    font-size: $nav-font-size;
  }
  &.has-subnav,
  &.menu-item-has-children {
    > a {
      @include mq(medium){
        span {
          padding-right: 0em;
          background-image: url(img/ico-arrowdown.svg);
          background-repeat: no-repeat;
          background-position: right center;
          background-size: em(12);
          display: block;
        }
      }
      &.active {
        span {
          // background-image: url(img/ico-arrowup.svg);
        }
      }
    }
  }
  > a {
    display: block;
    height: $nav-height;
    line-height: $nav-height;
    color: $nav-text-color-mobile;
    text-decoration: none;
    padding: 0 $nav-spacing-mobile;
    &:visited{
      color:$nav-text-color-mobile;
    }

    &:hover {
        color: $nav-text-color-hover;
        background-color: $nav-subnav-background-hover;
    }
    
    @include mq(medium){
      color: $nav-text-color;
      &:visited {
        color: $nav-text-color;
      }
    }
  }
  &:hover {
    background-color: $nav-hover;
  }

  &:nth-child(4), &:nth-child(8){
    display: none;
  }

  @include mq(medium) {
    height: $nav-height;
    float: left;
    border-bottom: 0;
    

    &:nth-child(1) {
      width:11.67%;
    }
    &:nth-child(2) {
      width:20.05%;
    }
    &:nth-child(3) {
      width:16.1%;
    }
    &:nth-child(4) {
      display: none;
      &:hover{
        background-color:transparent;
      }
    }
    &:nth-child(5) {
      width:15.8%;
    }
    &:nth-child(6) {
      width:12.08%;
    }
    &:nth-child(7) {
      width:17.419%;
    }
    &:nth-child(8) {
      display: block;
      padding-top:.25em;
      width:3.693%;
      a{
        margin:auto;
        text-align: center;
      }
    }
    
    &:hover {
      > a{ 
        background-color: transparent;
      }
      .sn-level-2 {
        display: block;
        z-index: 30;
      }
    }
    &.has-subnav,
    &.menu-item-has-children {
      > a {
        span {
          padding-right: 1em;
          background-size: em(10);
          display: inline;
        }
        &.active {
          span {
            background-image: url(img/ico-arrowdown.svg);
          }
        }
      }
    }
    > a {
      padding: 0 $nav-spacing-medium;
    }
  }

  @include mq(large) {
    margin-top:3.75em;
    &:nth-child(1) {
      width:9%;
    }
    &:nth-child(2) {
      width:17%;
    }
    &:nth-child(3) {
      width:14%;
    }
    &:nth-child(4) {
      display: block;
      width:20%;
      margin-top:0; 
      &:hover{
        border-right:none;
      }
    }
    &:nth-child(5) {
      width:12.8%;
    }
    &:nth-child(6) {
      width:9.08%;
    }
    &:nth-child(7) {
      width:12.419%;
    }
    &:nth-child(8) {
      display: block;
      padding-top:.25em;
      width:5.693%;
      a{
        margin:auto;
        text-align: center;
      }
    }

    > a {
      padding: 0 $nav-spacing-large;
    }

  }

  @include mq(xlarge) {
    > a {
      padding: 0 $nav-spacing-xlarge;
    }
  }
}

.sn-level-2 {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;
  text-align:left;

  &.active {
    display: block;
  }
  @include mq(medium) {
    position: absolute;
    &.active {
      display: none;
    }
  }
  a{
    &:after{
      content: '';
      background-image: url(img/ico-arrow-gray.svg);
      background-size: 1em;
      background-position: center;
      display: block;
      top: 0;
      bottom: 0;
      right: .5em;
      position: absolute;
      width: 20px;
      height: auto;
      background-repeat: no-repeat;
    }
  }
}

.sn-li-l2 {
  background-color: $nav-subnav-background;
  border-top: $nav-subnav-border;
  > a {
    padding: 0 em(30) 0 $nav-spacing-mobile;
    color: $nav-text-color;
    display: block;
    text-decoration: none;
    line-height: $nav-subnav-height;
    position:relative;

    span {
      font-size: $nav-subnav-font-size;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &:first-child {
    border-top:0;
  }
  &:last-child {
    > a {
      border-bottom: 0;
    }
  }
  &:hover {
    background-color: $nav-subnav-background-hover;
  }
  @include mq(medium) {
    &:hover {
      .sn-level-3 {
        display: block;
      }
    }
    // > a {
    //   padding: 0 em(40) $nav-spacing-medium 0;
    // }
  }
  // @include mq(large) {
  //   > a {
  //     padding: 0 $nav-spacing-large;
  //   }
  // }
  // @include mq(xlarge) {
  //   > a {
  //     padding: 0 $nav-spacing-xlarge;
  //   }
  // }
}

.sn-level-3 {
  //background-color:green;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid lighten($nav-hover, 10%);
  &.active {
    display: block;
  }
  @include mq(medium) {
    position: absolute;
    top: $nav-height;
    left: 100%;
    //width:22.5em;
    &.active {
      display: none;
    }
  }
}

.sn-li-l3 {
  @extend .sn-li-l2;
}

//Site Nav Container
.site-nav-container {
  background-color: $nav-background-mobile;
  width: 17em;
  height: 100%;
  //left:-20em;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  @include transition(all .25s ease-in-out);
  &.active {
    right: 0;
  }
  @include mq(medium) {
    width: auto;
    height: auto;
    right: auto;
    bottom: auto;
    top: auto;
    position: static;
    background-color: $nav-background-mobile;
  }
}

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  &.active {
    display: block;
  }
  @include mq(medium) {
    display: none !important;
  }
}

.close-menu {
  display: inline-block;
  clear: both;
  //width:5em;
  position: relative;
  text-align: center;
  color: $blue !important;
  font-family: $header-font-family;
  padding: $baseline*.5 $baseline*2;
  padding-right: em(25);
  margin: 0 auto;
  font-size: em(14);
  background-color: $white;
  border-radius: em(3);
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: em(13) em(13);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: em(25);
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  @include mq(medium) {
    display: none;
  }
}

.snc-header {
  text-align: center;
  padding: 1em;
  @include mq(medium) {
    padding: 0;
  }
}

// sticky nav stuff


.nav-sticky .wp-site-logo{
  @include transition(all .3s ease-in-out);
  background-size:100px;
}

.site-header.nav-sticky .site-logo img{
  width:100px;
  @include transition(all .3s ease-in-out);
}

@include mq(medium){
  .site-header.nav-sticky{
    position:fixed;
  }
}


.site-header.nav-sticky .sn-li-l1{
  @include mq(large) {
    margin-top: .75em;

    &:nth-child(4) {
      display: block;
      width:20%;
      margin-top:0; 
      height:61px;

      &:hover{
        border-right:none;
      }
    }
  }
}
