table {
  // border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: top;
}
/*=============== Spec Tables ===============*/

/* Table expand on click */
.table-wrap, .spec-table{
  display:none !important;
  &.active{
    display: block !important;
  }
}

.headexpand{
  margin-top:1.25em;
  cursor:pointer;
  padding: .5em;
  border-bottom: solid 1px #1b284c;
  position:relative;
  padding-right:20px;
  margin-top:0em;

  &:after{
    content: '';
    background-image: url("img/ico-plus.svg");
    background-size: .875em;
    display: block;
    position: absolute;
    top:20px;
    bottom: 0;
    right: 0;
    width: 1.875em;
    background-repeat: no-repeat;
    background-position: 15px 0px;

    
    @include mq(medium){
      top: 29px;
    }
  }
}

.headexpand.active{
  &:after{
    content:"";
    background-image: url("img/ico-minus.svg");
  }
}

.spec-subtext, .spec-title{
  margin: .875em 0 0 0;
}

.spec-table {
  display: block;
  width: 100%;
  //margin:0 0 1em 0;
  margin-bottom: $baseline*3;
  background: lighten($light-gray, 12%);
  //font-size:em(14);
  border-spacing: 15px;
  border-collapse: separate;
  margin-left:0;
  @include mq(medium){
    margin-left:-15px;
  }
}

.spec-thead {
  display: block;
}

.spec-table-row {
  display: block;
  width: 100%;
  margin-bottom:10px;
  //border-bottom:1px solid $gray;
}

.spec-cell {
  display: block;
  vertical-align: top;
  border:solid 1px $medium-gray;
  padding:1em;
  //color:$blue;
  p {
    //font-size:.95em;
    margin: 0;
  }
  > ul {
    margin: .5em 0;
    > li {
      margin-bottom: 0 !important;
      //font-size:.7em;
      ul {
        padding: 0 0 0 1.8em;
      }
    }
  }
  input,
  select {
    width: 100%;
  }
}

.spec-col {
  display: table-column;
}

.spec-col-1{
  color:$blue;  
}

// .spec-col-1 {
//   width: 100%;
//   @include mq(medium){
//     @include span-columns(4 of 12);
//   }
// }

// .spec-col-2 {
//   width: 100%;
//   @include mq(medium){
//     @include span-columns(4 of 12);
//   }
// }

@include mq(medium) {
  .spec-table {
    display: table;
  }
  .spec-thead {
    display: table-header-group;
  }
  .spec-table-row {
    display: table-row;
  }
  .spec-cell {
    display: table-cell;
    p {
      font-size: em(16);
      margin-bottom: 0;
    }
  }
  .spec-col-1 {
    width: 30%;
  }
  .spec-col-2 {
    width: 70%;
  }
}

/* Table saw */

.tablesaw tbody tr td:first-child, .tablesaw tbody tr td:last-child{
  //border:solid 1px $medium-gray;
}

.tablesaw tbody tr td:first-child{
  color:#4b4e53;
  width:360px;
  font-weight: bold;
}

