body {
  //@include font-feature-settings("kern","liga","frac", "pnum");
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
}

h1 {
  font-size: $large-font-size;
  margin-top: 0;
  margin-bottom: 32px;
  @include mq(medium){
    font-size:$display-font-size;
  }

}

h2 {
  font-size: $medium-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
  @include mq(medium){
    font-size:$large-font-size;
  }
}

h3 {
  font-size: $base-font-size;
  margin-top: 24px;
  margin-bottom: 16px;
  @include mq(medium){
    font-size:$medium-font-size;
  }
}

h4 {
  font-size: $small-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
  @include mq(medium){
    font-size:$small-font-size;
  }
}

h5 {
  font-size: $small-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
  @include mq(medium){
    font-size:$small-font-size;
  }
}

h6 {
  font-size: $small-font-size;
  margin-top: 16px;
  margin-bottom: 16px;
  @include mq(medium){
    font-size:$small-font-size;
  }
}

p {
  margin: 1.25em 0;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $hover-link-color;
  }
  &:active,
  &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0;
  margin: 0;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;
  &:before {
    content: "\2014 \00A0";
  }
}
