// Typography
$base-font-family: "ff-dagny-web-pro", open-sans, arial;
$header-font-family: $base-font-family;

// Font Sizes
$small-font-size: em(14);
$base-font-size: em(20);
$medium-font-size: em(23);
$large-font-size: em(26);
$xlarge-font-size: em(32);
$display-font-size: em(36);

$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$baseline:em(8); //Old habits die hard
$base-line:em(8);
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$white:#ffffff;
$black:#000000;
$blue: #1b284c;
$dark-gray: #4b4e53;
$medium-gray: #999;
$light-gray: #DDD;
$yellow:#edda22;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: #29489d;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($yellow, 25);
$base-button-color: $yellow;
$hover-button-color: lighten($yellow, 20);

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// Navigation
$nav-font-size:em(16);
$nav-height:em(30);
$nav-background:transparent;
$nav-background-mobile:$blue;
$nav-text-color:$blue;
$nav-text-color-mobile:$white;
$nav-text-color-hover:$blue;
$nav-hover:transparent;
$nav-active-background:darken($nav-background, 10%);
$nav-border:1px solid lighten($nav-background,5%);
$nav-border-mobile:1px solid lighten($nav-background-mobile,5%);


$nav-spacing-mobile:10px;
$nav-spacing-medium:10px;
$nav-spacing-large:10px;
$nav-spacing-xlarge:10px;

$nav-subnav-font-size:em(16);
$nav-subnav-height:em(40);
$nav-subnav-background:$yellow;
$nav-subnav-border:1px solid $blue;
$nav-subnav-hover:$blue;
$nav-subnav-background-hover:$white;


$nav-mobile-width:17em;