@charset "UTF-8";
/*!
Theme Name: 	Default Template
Theme URI: 		http://julian.is
Description: 	Default theme for .
Version: 		1.0
Author: 		Julian Gaviria
Author URI: 	julian.is
Tags: 			starkers, naked, clean, basic, html5, boilerplate, sass, smacss
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013-2014 thoughtbot, inc.
 * MIT License */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*
This class is supposed to be assigned to the parent of items you need organized. Example below:
<div class="rows-of-2">
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
  <div>Item</div>
</div>
This would give you 2 rows with 2 columns.
*/
.rows-of-2 {
  display: block; }
  .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-2 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .rows-of-2 > *:last-child {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n) {
          margin-right: 0; }
        .rows-of-2 > *:nth-child(2n+1) {
          clear: left; }
        .rows-of-2 > *:nth-last-child(2):last-child {
          margin-bottom: 0 !important; }
        .rows-of-2 > *:nth-last-child(1):last-child {
          margin-bottom: 0 !important; } }

.lt-ie9 .rows-of-2 {
  display: block; }
  .lt-ie9 .rows-of-2::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-2 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-2 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-2 > * {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block !important;
        clear: none !important; } }

.rows-of-3 {
  display: block; }
  .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-3 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .rows-of-3 > *:last-child {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n) {
          margin-right: 0; }
        .rows-of-3 > *:nth-child(3n+1) {
          clear: left; } }

.lt-ie9 .rows-of-3 {
  display: block; }
  .lt-ie9 .rows-of-3::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-3 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-3 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-3 > * {
        float: left;
        width: 33.3% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

.rows-of-4 {
  display: block; }
  .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .rows-of-4 > * {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        .rows-of-4 > *:last-child {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n) {
          margin-right: 0; }
        .rows-of-4 > *:nth-child(4n+1) {
          clear: left; } }

.lt-ie9 .rows-of-4 {
  display: block; }
  .lt-ie9 .rows-of-4::after {
    clear: both;
    content: "";
    display: table; }
  .lt-ie9 .rows-of-4 > * {
    margin-bottom: 1.5em;
    display: block;
    position: relative; }
    .lt-ie9 .rows-of-4 > * > *:first-child {
      margin-top: 0; }
    @media (min-width: 40em) {
      .lt-ie9 .rows-of-4 > * {
        float: left;
        width: 25% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 1em;
        padding-right: 1em; } }

@media (max-width: 40em) {
  .mobile-rows-of-2 {
    display: block; }
    .mobile-rows-of-2::after {
      clear: both;
      content: "";
      display: table; }
    .mobile-rows-of-2 > * {
      margin-bottom: 1.5em;
      display: block;
      position: relative;
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .mobile-rows-of-2 > * > *:first-child {
        margin-top: 0; }
      .mobile-rows-of-2 > *:nth-last-child(1) {
        background-color: red;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:nth-last-child(2) {
        background-color: green;
        margin-bottom: 0; }
      .mobile-rows-of-2 > *:last-child {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n) {
        margin-right: 0; }
      .mobile-rows-of-2 > *:nth-child(2n+1) {
        clear: left; } }

.row {
  display: block;
  clear: both; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media (min-width: 40em) {
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 6.1721527019%; }
    .col-1:last-child {
      margin-right: 0; }
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%; }
    .col-2:last-child {
      margin-right: 0; }
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .col-3:last-child {
      margin-right: 0; }
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%; }
    .col-4:last-child {
      margin-right: 0; }
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%; }
    .col-5:last-child {
      margin-right: 0; }
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .col-6:last-child {
      margin-right: 0; }
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%; }
    .col-7:last-child {
      margin-right: 0; }
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%; }
    .col-8:last-child {
      margin-right: 0; }
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .col-9:last-child {
      margin-right: 0; }
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 82.9403914003%; }
    .col-10:last-child {
      margin-right: 0; }
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%; }
    .col-11:last-child {
      margin-right: 0; }
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .col-12:last-child {
      margin-right: 0; }
  .col-last {
    margin-right: 0;
    margin-right: 0 !important; } }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #4b4e53;
  font-family: "ff-dagny-web-pro", open-sans, arial;
  font-size: 1.25em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-dagny-web-pro", open-sans, arial;
  line-height: 1.25;
  margin: 0; }

h1 {
  font-size: 1.625em;
  margin-top: 0;
  margin-bottom: 32px; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.25em; } }

h2 {
  font-size: 1.4375em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h2 {
      font-size: 1.625em; } }

h3 {
  font-size: 1.25em;
  margin-top: 24px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h3 {
      font-size: 1.4375em; } }

h4 {
  font-size: 0.875em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h4 {
      font-size: 0.875em; } }

h5 {
  font-size: 0.875em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h5 {
      font-size: 0.875em; } }

h6 {
  font-size: 0.875em;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 40em) {
    h6 {
      font-size: 0.875em; } }

p {
  margin: 1.25em 0; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #29489d;
  text-decoration: none; }
  a:hover {
    color: #85790b; }
  a:active, a:focus {
    color: #85790b;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  padding: 0;
  margin: 0; }

cite {
  color: #898d94;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "ff-dagny-web-pro", open-sans, arial;
  font-size: 1.25em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "ff-dagny-web-pro", open-sans, arial;
  font-size: 1.25em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus {
    border-color: #29489d;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(36, 63, 137, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: top; }

/*=============== Spec Tables ===============*/
/* Table expand on click */
.table-wrap, .spec-table {
  display: none !important; }
  .table-wrap.active, .spec-table.active {
    display: block !important; }

.headexpand {
  margin-top: 1.25em;
  cursor: pointer;
  padding: .5em;
  border-bottom: solid 1px #1b284c;
  position: relative;
  padding-right: 20px;
  margin-top: 0em; }
  .headexpand:after {
    content: '';
    background-image: url("img/ico-plus.svg");
    background-size: .875em;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    width: 1.875em;
    background-repeat: no-repeat;
    background-position: 15px 0px; }
    @media (min-width: 40em) {
      .headexpand:after {
        top: 29px; } }

.headexpand.active:after {
  content: "";
  background-image: url("img/ico-minus.svg"); }

.spec-subtext, .spec-title {
  margin: .875em 0 0 0; }

.spec-table {
  display: block;
  width: 100%;
  margin-bottom: 1.5em;
  background: #fcfcfc;
  border-spacing: 15px;
  border-collapse: separate;
  margin-left: 0; }
  @media (min-width: 40em) {
    .spec-table {
      margin-left: -15px; } }

.spec-thead {
  display: block; }

.spec-table-row {
  display: block;
  width: 100%;
  margin-bottom: 10px; }

.spec-cell {
  display: block;
  vertical-align: top;
  border: solid 1px #999;
  padding: 1em; }
  .spec-cell p {
    margin: 0; }
  .spec-cell > ul {
    margin: .5em 0; }
    .spec-cell > ul > li {
      margin-bottom: 0 !important; }
      .spec-cell > ul > li ul {
        padding: 0 0 0 1.8em; }
  .spec-cell input, .spec-cell select {
    width: 100%; }

.spec-col {
  display: table-column; }

.spec-col-1 {
  color: #1b284c; }

@media (min-width: 40em) {
  .spec-table {
    display: table; }
  .spec-thead {
    display: table-header-group; }
  .spec-table-row {
    display: table-row; }
  .spec-cell {
    display: table-cell; }
    .spec-cell p {
      font-size: 1em;
      margin-bottom: 0; }
  .spec-col-1 {
    width: 30%; }
  .spec-col-2 {
    width: 70%; } }

/* Table saw */
.tablesaw tbody tr td:first-child {
  color: #4b4e53;
  width: 360px;
  font-weight: bold; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.default-ul, ol.default-ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  ul.default-ol, ol.default-ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

.site-content-primary ul {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .site-content-primary ul li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .site-content-primary ul li p {
      font-size: 16px; }
    .site-content-primary ul li a {
      text-decoration: none;
      font-weight: normal; }
    .site-content-primary ul li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

.bullet-style {
  clear: left;
  list-style-type: none;
  margin-bottom: 0.75em;
  padding-left: 1.5em; }
  .bullet-style li {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5em; }
    .bullet-style li p {
      font-size: 16px; }
    .bullet-style li a {
      text-decoration: none;
      font-weight: normal; }
    .bullet-style li:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      display: block;
      position: absolute;
      top: 0;
      left: -1.5em;
      background-image: url(img/ico-bullet.svg);
      background-position: center center;
      background-size: .45em;
      background-repeat: no-repeat; }

button, input[type="submit"], .btn, .btn-important, .btn-slide-in {
  position: relative;
  -webkit-font-smoothing: antialiased;
  background-color: #edda22;
  border-radius: 0;
  color: #1b284c;
  display: inline-block;
  font-weight: normal;
  line-height: 1;
  padding: 0.75em 1em;
  padding-right: 2em;
  text-decoration: none;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear; }
  button:hover, input[type="submit"]:hover, .btn:hover, .btn-important:hover, .btn-slide-in:hover {
    background-color: #f5ea80;
    color: #1b284c; }
  button:disabled, input[type="submit"]:disabled, .btn:disabled, .btn-important:disabled, .btn-slide-in:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 1em; }

.btn:after, .btn-important:after, .btn-slide-in:after {
  content: '';
  background-image: url(img/ico-arrow-gray.svg);
  background-size: 1em;
  background-position: center;
  display: block;
  top: 0;
  bottom: 0;
  right: .5em;
  position: absolute;
  width: 20px;
  height: auto;
  background-repeat: no-repeat; }

.btn-slide-in {
  font-size: 1.4375em;
  -webkit-box-shadow: 2px 2px 7px 0px #000;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 2px 2px 7px 0px #000;
  /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */ }

.site-nav {
  background-color: #1b284c; }
  .site-nav span {
    white-space: nowrap; }
  @media (min-width: 40em) {
    .site-nav {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      background-color: transparent; } }

.sn-level-1 {
  margin: 0;
  padding: 0; }

.sn-li-l1 {
  display: block;
  border-bottom: 1px solid #22325f;
  background-color: transparent;
  text-align: center; }
  .sn-li-l1 a.active {
    background-color: transparent; }
  .sn-li-l1 span {
    font-size: 1em; }
  @media (min-width: 40em) {
    .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
      padding-right: 0em;
      background-image: url(img/ico-arrowdown.svg);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 0.75em;
      display: block; } }
  .sn-li-l1 > a {
    display: block;
    height: 1.875em;
    line-height: 1.875em;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px; }
    .sn-li-l1 > a:visited {
      color: #ffffff; }
    .sn-li-l1 > a:hover {
      color: #1b284c;
      background-color: #ffffff; }
    @media (min-width: 40em) {
      .sn-li-l1 > a {
        color: #1b284c; }
        .sn-li-l1 > a:visited {
          color: #1b284c; } }
  .sn-li-l1:hover {
    background-color: transparent; }
  .sn-li-l1:nth-child(4), .sn-li-l1:nth-child(8) {
    display: none; }
  @media (min-width: 40em) {
    .sn-li-l1 {
      height: 1.875em;
      float: left;
      border-bottom: 0; }
      .sn-li-l1:nth-child(1) {
        width: 11.67%; }
      .sn-li-l1:nth-child(2) {
        width: 20.05%; }
      .sn-li-l1:nth-child(3) {
        width: 16.1%; }
      .sn-li-l1:nth-child(4) {
        display: none; }
        .sn-li-l1:nth-child(4):hover {
          background-color: transparent; }
      .sn-li-l1:nth-child(5) {
        width: 15.8%; }
      .sn-li-l1:nth-child(6) {
        width: 12.08%; }
      .sn-li-l1:nth-child(7) {
        width: 17.419%; }
      .sn-li-l1:nth-child(8) {
        display: block;
        padding-top: .25em;
        width: 3.693%; }
        .sn-li-l1:nth-child(8) a {
          margin: auto;
          text-align: center; }
      .sn-li-l1:hover > a {
        background-color: transparent; }
      .sn-li-l1:hover .sn-level-2 {
        display: block;
        z-index: 30; }
      .sn-li-l1.has-subnav > a span, .sn-li-l1.menu-item-has-children > a span {
        padding-right: 1em;
        background-size: 0.625em;
        display: inline; }
      .sn-li-l1.has-subnav > a.active span, .sn-li-l1.menu-item-has-children > a.active span {
        background-image: url(img/ico-arrowdown.svg); }
      .sn-li-l1 > a {
        padding: 0 10px; } }
  @media (min-width: 60em) {
    .sn-li-l1 {
      margin-top: 3.75em; }
      .sn-li-l1:nth-child(1) {
        width: 9%; }
      .sn-li-l1:nth-child(2) {
        width: 17%; }
      .sn-li-l1:nth-child(3) {
        width: 14%; }
      .sn-li-l1:nth-child(4) {
        display: block;
        width: 20%;
        margin-top: 0; }
        .sn-li-l1:nth-child(4):hover {
          border-right: none; }
      .sn-li-l1:nth-child(5) {
        width: 12.8%; }
      .sn-li-l1:nth-child(6) {
        width: 9.08%; }
      .sn-li-l1:nth-child(7) {
        width: 12.419%; }
      .sn-li-l1:nth-child(8) {
        display: block;
        padding-top: .25em;
        width: 5.693%; }
        .sn-li-l1:nth-child(8) a {
          margin: auto;
          text-align: center; }
      .sn-li-l1 > a {
        padding: 0 10px; } }
  @media (min-width: 80em) {
    .sn-li-l1 > a {
      padding: 0 10px; } }

.sn-level-2 {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;
  text-align: left; }
  .sn-level-2.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-2 {
      position: absolute; }
      .sn-level-2.active {
        display: none; } }
  .sn-level-2 a:after {
    content: '';
    background-image: url(img/ico-arrow-gray.svg);
    background-size: 1em;
    background-position: center;
    display: block;
    top: 0;
    bottom: 0;
    right: .5em;
    position: absolute;
    width: 20px;
    height: auto;
    background-repeat: no-repeat; }

.sn-li-l2, .sn-li-l3 {
  background-color: #edda22;
  border-top: 1px solid #1b284c; }
  .sn-li-l2 > a, .sn-li-l3 > a {
    padding: 0 1.875em 0 10px;
    color: #1b284c;
    display: block;
    text-decoration: none;
    line-height: 2.5em;
    position: relative; }
    .sn-li-l2 > a span, .sn-li-l3 > a span {
      font-size: 1em;
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle; }
  .sn-li-l2:first-child, .sn-li-l3:first-child {
    border-top: 0; }
  .sn-li-l2:last-child > a, .sn-li-l3:last-child > a {
    border-bottom: 0; }
  .sn-li-l2:hover, .sn-li-l3:hover {
    background-color: #ffffff; }
  @media (min-width: 40em) {
    .sn-li-l2:hover .sn-level-3, .sn-li-l3:hover .sn-level-3 {
      display: block; } }

.sn-level-3 {
  padding: 0;
  margin: 0;
  padding-top: 1px;
  display: none;
  position: relative;
  border-left: 1px solid rgba(26, 26, 26, 0); }
  .sn-level-3.active {
    display: block; }
  @media (min-width: 40em) {
    .sn-level-3 {
      position: absolute;
      top: 1.875em;
      left: 100%; }
      .sn-level-3.active {
        display: none; } }

.site-nav-container {
  background-color: #1b284c;
  width: 17em;
  height: 100%;
  right: -17em;
  top: 0;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .site-nav-container.active {
    right: 0; }
  @media (min-width: 40em) {
    .site-nav-container {
      width: auto;
      height: auto;
      right: auto;
      bottom: auto;
      top: auto;
      position: static;
      background-color: #1b284c; } }

.site-nav-container-screen {
  position: absolute;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .site-nav-container-screen.active {
    display: block; }
  @media (min-width: 40em) {
    .site-nav-container-screen {
      display: none !important; } }

.close-menu {
  display: inline-block;
  clear: both;
  position: relative;
  text-align: center;
  color: #1b284c !important;
  font-family: "ff-dagny-web-pro", open-sans, arial;
  padding: 0.25em 1em;
  padding-right: 1.5625em;
  margin: 0 auto;
  font-size: 0.875em;
  background-color: #ffffff;
  border-radius: 0.1875em; }
  .close-menu:visited {
    color: #ffffff; }
  .close-menu:hover {
    color: #ffffff; }
  .close-menu:after {
    content: '';
    background-color: transparent;
    background-image: url(img/ico-exit.svg);
    background-size: 0.8125em 0.8125em;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 1.5625em;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  @media (min-width: 40em) {
    .close-menu {
      display: none; } }

.snc-header {
  text-align: center;
  padding: 1em; }
  @media (min-width: 40em) {
    .snc-header {
      padding: 0; } }

.nav-sticky .wp-site-logo {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-size: 100px; }

.site-header.nav-sticky .site-logo img {
  width: 100px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

@media (min-width: 40em) {
  .site-header.nav-sticky {
    position: fixed; } }

@media (min-width: 60em) {
  .site-header.nav-sticky .sn-li-l1 {
    margin-top: .75em; }
    .site-header.nav-sticky .sn-li-l1:nth-child(4) {
      display: block;
      width: 20%;
      margin-top: 0;
      height: 61px; }
      .site-header.nav-sticky .sn-li-l1:nth-child(4):hover {
        border-right: none; } }

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/
.inner-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1em 1.5em 1em; }
  .inner-wrap::after {
    clear: both;
    content: "";
    display: table; }
  .inner-wrap > *:first-child {
    margin-top: 0; }
  .inner-wrap > *:last-child {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .inner-wrap {
      padding: 2.5em 1.5em 2.5em 1.5em; } }

.media-object {
  overflow: hidden; }

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%; }
  .media-object-img img {
    width: 100%; }

.media-object-body {
  width: 75%;
  float: left; }

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em; }

.media-grid-2 > * {
  margin-bottom: 1em; }
@media (min-width: 40em) {
  .media-grid-2 > * {
    float: left;
    display: block;
    margin-right: 3.1684356888%;
    width: 48.4157821556%;
    margin-bottom: 1.5em; }
    .media-grid-2 > *:last-child {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n) {
      margin-right: 0; }
    .media-grid-2 > *:nth-child(2n+1) {
      clear: left; } }

/*=============== Social Media ===============*/
.social-wrap {
  overflow: hidden;
  /*span {
    background-color:$white;
    border-radius:3px;
    display:inline-block;
    padding:.15em;
    img {
      display:block;
      margin:0 auto;
    }
  }*/ }
  .social-wrap a {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    position: relative; }
    .social-wrap a path {
      -webkit-transition: all .1s linear;
      -moz-transition: all .1s linear;
      transition: all .1s linear; }
    .social-wrap a:hover {
      opacity: .75; }
      .social-wrap a:hover path {
        fill: #1b284c; }
  .social-wrap img {
    display: inline-block;
    margin: 0 auto;
    width: 1.1em;
    height: auto;
    vertical-align: middle; }
  .social-wrap svg {
    display: inline-block;
    vertical-align: middle; }

/*=============== Slide Panel ===============*/
.slide-panel {
  display: none;
  position: fixed;
  background: #4b4e53;
  color: #fff;
  height: 100%;
  width: 21.25em;
  right: -em(340);
  top: 14%;
  z-index: 10;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out; }
  .slide-panel h2 {
    padding: .2em 1em; }
  .slide-panel p {
    background: #4b4e53;
    padding: .25px 2em; }
  .slide-panel label {
    color: #ffffff !important; }
  .slide-panel:hover {
    right: 0px; }
  @media (min-width: 40em) {
    .slide-panel {
      display: block; } }

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: #4b4e53;
  min-width: 200px; }

/*=============== Slide Box ===============*/
#slidebox {
  padding: 0.625em 0.625em 0.625em 1em;
  position: fixed;
  bottom: 0;
  right: -em(430);
  z-index: 1000;
  width: 100%; }
  @media (min-width: 40em) {
    #slidebox {
      width: auto; } }

a.close {
  background-color: white;
  color: #1b284c;
  text-align: center;
  float: left;
  padding: 0 0.5em;
  font-size: 0.6875em;
  border-radius: 0.1875em;
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em; }

a.close:hover {
  background-color: rgba(255, 255, 255, 0.75); }

/*=============== Misc ===============*/
hr {
  display: block;
  clear: both; }

figure {
  margin: 0;
  padding: 0; }

.wp-pagenavi > * {
  margin-right: .75em; }

.site-wrap {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }

/*=============== Site Header ===============*/
.site-header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 50; }
  .site-header .inner-wrap {
    padding: .5em 1.5em; }

.home .site-header {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.mobile-header {
  margin-top: 0.9375em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  @media (min-width: 60em) {
    .mobile-header {
      display: none; } }

.site-logo img {
  display: block;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.site-utility-nav {
  padding: 0.5em 1em;
  overflow: hidden;
  display: block;
  background-color: #DDD; }
  @media (min-width: 40em) {
    .site-utility-nav {
      display: none; } }

.sh-icons {
  float: right; }

.sh-ico-search, .sh-ico-menu {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  background-size: 24px; }
  .sh-ico-search span, .sh-ico-menu span {
    font-size: .75em; }

.sh-ph {
  font-weight: bold;
  color: #1b284c;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%; }
  .sh-ph:last-child {
    margin-right: 0; }

.sh-ico-search {
  background-image: url(img/ico-search.svg);
  text-indent: -99999999px; }

.sh-ico-menu {
  background-image: url(img/ico-nav.svg);
  background-position: 15px 7px; }
  @media (min-width: 40em) {
    .sh-ico-menu {
      display: none; } }

.wp-site-logo {
  background-image: url(img/site-logo.png);
  background-repeat: no-repeat;
  background-size: 169px;
  height: 102px;
  background-position: 50% 95%;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .wp-site-logo a {
    overflow: hidden;
    height: 102px; }

nav .search-link {
  background-image: url(img/ico-search.svg);
  background-position: 50%;
  background-size: 1.25em;
  background-repeat: no-repeat;
  text-indent: -9999px; }

/*=============== Site Content ===============*/
.site-content h1, .site-content h2, .site-content h3 {
  color: #1b284c; }
.site-content h4, .site-content h5, .site-content h6 {
  color: #000000; }

.emph {
  color: #1b284c;
  font-size: 1.25em; }

.site-content-primary h1, .site-content-primary h2, .site-content-primary h3 {
  color: #1b284c; }

blockquote {
  padding: 1em;
  padding-left: 1.5em;
  border: #DDD;
  border-left: solid 10px #1b284c;
  background-color: #f4f4f4;
  font-size: 0.875em; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote footer {
    font-style: italic;
    font-weight: bold; }

/*=============== Site Intro ===============*/
.site-intro .inner-wrap {
  padding: 0.9375em 1.5em; }

.si-statement-block {
  border: solid 3px #1b284c;
  padding: 1.5em;
  text-align: center; }

.si-title {
  margin-top: 0;
  margin-bottom: .25em;
  color: #1b284c; }

.si-title-support {
  margin-top: .25em;
  margin-bottom: 0;
  font-size: 1.4375em; }

@media (min-width: 40em) {
  .si-title {
    font-size: 2em; } }

@media (min-width: 60em) {
  .si-title {
    font-size: 2em; } }

/*=============== Capabilities Section ===============*/
.capabilities-section .inner-wrap {
  padding: 0 1.5em; }

.cs-pic {
  display: block; }

.cs-main-category .cs-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  color: #edda22;
  font-weight: bold;
  font-size: 1.4375em; }
  @media (min-width: 40em) {
    .cs-main-category .cs-title {
      font-size: 1.25em; } }
  @media (min-width: 60em) {
    .cs-main-category .cs-title {
      font-size: 1.4375em; } }

.cs-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  font-weight: bold;
  font-size: 1.4375em;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  @media (min-width: 40em) {
    .cs-title {
      font-size: 1.25em; } }
  @media (min-width: 60em) {
    .cs-title {
      font-size: 1.4375em; } }

.cs-cap-category {
  margin-bottom: 0.9375em;
  position: relative;
  background-color: #1b284c;
  color: #ffffff;
  display: block;
  max-height: 100px;
  overflow: hidden; }
  .cs-cap-category:after {
    content: '';
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 120%;
    z-index: 50;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .cs-cap-category img {
    opacity: .6;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    display: block; }
  .cs-cap-category:hover {
    color: #edda22; }
    .cs-cap-category:hover:after {
      left: 0%;
      top: 45%;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 1; }
    .cs-cap-category:hover img {
      opacity: .07;
      -webkit-transition: opacity .3s ease-in-out;
      -moz-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
    .cs-cap-category:hover .cs-title {
      font-size: 0.875em;
      top: 48%;
      z-index: 400; }
  @media (min-width: 40em) {
    .cs-cap-category {
      max-height: 500px;
      float: left;
      display: block;
      margin-right: 1.5595117805%;
      width: 32.293658813%; }
      .cs-cap-category:last-child {
        margin-right: 0; }
      .cs-cap-category:nth-child(3n) {
        margin-right: 0; }
      .cs-cap-category:nth-child(3n+1) {
        clear: left; }
      .cs-cap-category .cs-title, .cs-cap-category .cs-title-main {
        top: 40%; } }

/*=============== Highlight Section ===============*/
.highlight-section {
  margin-top: 0.9375em; }
  .highlight-section .flex-direction-nav a {
    top: 20% !important;
    height: 100px;
    opacity: 1; }
    @media (min-width: 40em) {
      .highlight-section .flex-direction-nav a {
        top: 45% !important; } }
  .highlight-section .flex-direction-nav a.flex-next:before {
    background-image: url("img/ico-white-arrow-right.svg"); }
  .highlight-section .flex-direction-nav a:before {
    display: block;
    content: '';
    height: 5em;
    background-size: 18px;
    padding: 5px;
    background-position: 9px 20px;
    background-repeat: no-repeat;
    background-color: #1b284c;
    background-image: url("img/ico-white-arrow-left.svg"); }
    .highlight-section .flex-direction-nav a:before:hover {
      background-color: red; }
  .highlight-section .flex-direction-nav .flex-prev {
    left: 0px; }
  .highlight-section .flex-direction-nav .flex-next {
    right: 0px; }
  .highlight-section .flexslider {
    border: solid 3px #1b284c; }
  .highlight-section .flex-viewport {
    max-height: 125em; }
  .highlight-section .inner-wrap {
    padding: 0 1.5em;
    margin-bottom: 0.9375em; }
  @media (min-width: 40em) {
    .highlight-section {
      margin-top: 0; } }

.hls-title {
  text-align: center;
  margin: 50px; }

.hls-desc {
  margin: 1.5em 0; }

.hls-img-block, .hls-content-block {
  width: 100%; }
  @media (min-width: 60em) {
    .hls-img-block, .hls-content-block {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .hls-img-block:last-child, .hls-content-block:last-child {
        margin-right: 0; } }

.hls-img-block {
  padding: 0 2em; }
  .hls-img-block img {
    width: 60% !important;
    margin: auto; }
  @media (min-width: 40em) {
    .hls-img-block {
      padding-left: 3em;
      padding-bottom: 1.5em; }
      .hls-img-block img {
        width: 100% !important; } }

.hls-content-block {
  padding: 0 2em;
  text-align: center; }
  .hls-content-block .btn {
    margin-bottom: 1em; }
  @media (min-width: 40em) {
    .hls-content-block {
      padding-right: 3em;
      padding-bottom: 1.5em;
      text-align: left; } }

/*=============== Page Intro ===============*/
.page-intro {
  background-size: cover;
  display: none;
  height: 200px; }
  @media (min-width: 40em) {
    .page-intro {
      height: 424px; } }

.page-id-56 .page-intro {
  display: block;
  background-image: url("img/custom-paint.jpg"); }

.page-id-50 .page-intro {
  display: block;
  background-image: url("img/destination-header.jpg"); }

.page-id-46 .page-intro {
  display: block;
  background-image: url("img/custom-cnc-machining.jpg"); }

.page-id-52 .page-intro {
  display: block;
  background-image: url("img/custom-laser-cutting.jpg"); }

.page-id-54 .page-intro {
  display: block;
  background-image: url("img/custom-welding.jpg"); }

.page-id-60 .page-intro {
  display: block;
  background-image: url("img/portfolio-1-header.jpg"); }

.page-id-62 .page-intro, .page-id-58 .page-intro {
  display: block;
  background-image: url("img/portfolio-2-header.jpg"); }

.page-id-12 .page-intro {
  display: block;
  background-image: url("img/about-us-header.jpg"); }

/*=============== Design Spec Section ===============*/
.design-spec-section {
  background-color: #DDD; }
  .design-spec-section tr td:first-child {
    border: solid 1px #999; }
  @media (min-width: 40em) {
    .design-spec-section tr td:first-child {
      border-left: none;
      border-top: none;
      border-left: none;
      border-right: solid 1px #999; }
    .design-spec-section tr td {
      border-bottom: solid 1px #999; }
    .design-spec-section tr:last-child td {
      border-bottom: none; } }

.dss-box {
  text-align: center;
  border: solid 1px #999;
  padding: 1em;
  min-height: 250px; }

/*=============== Site Footer ===============*/
.site-footer {
  background-color: #1b284c;
  text-align: center;
  color: #ffffff;
  background-image: url("img/footer-about.jpg");
  background-size: cover; }
  @media (min-width: 40em) {
    .site-footer {
      text-align: left; } }
  .site-footer .sf-title {
    color: #ffffff; }

.sf-cta-block, .sf-contact-block {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .sf-cta-block:last-child, .sf-contact-block:last-child {
    margin-right: 0; }
  @media (min-width: 40em) {
    .sf-cta-block, .sf-contact-block {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .sf-cta-block:last-child, .sf-contact-block:last-child {
        margin-right: 0; } }

.sf-cta-block p {
  margin: 1.5em 0em; }

.sf-cta {
  margin-bottom: 1.25em; }

.sf-contact-block {
  border: solid 3px #ffffff;
  padding: 1em; }
  .sf-contact-block a {
    color: #ffffff;
    text-decoration: none; }
    .sf-contact-block a:hover {
      color: #edda22; }
  @media (min-width: 60em) {
    .sf-contact-block {
      padding: 3em 3em; } }
  @media (min-width: 80em) {
    .sf-contact-block {
      padding: 3em 4em; } }

.sf-texas {
  display: block;
  margin: 1.25em auto; }
  @media (min-width: 60em) {
    .sf-texas {
      float: right;
      margin-top: 1.25em; } }

.sf-small {
  background-color: #ffffff;
  color: #1b284c;
  text-align: center;
  font-size: 0.875em; }
  .sf-small .inner-wrap {
    padding-top: 1em;
    padding-bottom: 1em; }
  .sf-small a {
    color: #1b284c; }

img[name=pphLoggerImage] {
  display: none; }

/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0; }

.search-row {
  display: table-row;
  width: 100%; }

.search-cell1 {
  display: table-cell;
  padding-right: 0.4375em; }

.search-cell2 {
  display: table-cell;
  width: 2.1875em;
  border: 0; }

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important; }

.search-submit {
  width: 80%;
  height: 2.3em;
  border: 0;
  float: right;
  padding: .75em .25em !important;
  background: url(img/ico-search-white.svg) no-repeat center center !important; }

.no-svg .search-submit {
  background: url(img/ico-search.png) no-repeat center center !important; }

@media (min-width: 40em) {
  .site-search {
    width: 100%; }
  .search-text {
    height: 2.3em; }
  .search-submit {
    height: 2.3em; } }

.search-module {
  background-color: #1b284c;
  height: 7em;
  margin-top: -7em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: relative;
  z-index: 10000;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .search-module.active {
    margin-top: 0; }
  .search-module .inner-wrap {
    padding: 0.3em 1.5em 1em; }

.search-module.nav-sticky {
  position: fixed;
  top: 0; }

.search-exit {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
  top: 0;
  right: 0; }

/*=============== Product Carousel ===============*/
@media (max-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 4.8291579146%;
    width: 47.5854210427%; }
    .product-item:last-child {
      margin-right: 0; }
    .product-item:nth-child(2n) {
      margin-right: 0; }
    .product-item:nth-child(2n+1) {
      clear: left; } }
@media (min-width: 40em) {
  .product-item {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .product-item:last-child {
      margin-right: 0; } }

/*=============== Misc ===============*/
#slidebox {
  right: -930px; }

#last {
  padding: 0;
  margin: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.alignright {
  display: block;
  padding-bottom: 1.5em; }

.alignleft {
  display: block;
  padding-bottom: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

@media (min-width: 40em) {
  .alignright {
    display: block;
    float: right;
    padding-bottom: 1.5em;
    padding-left: 1.5em; }
  .alignleft {
    display: block;
    float: left;
    padding-bottom: 1.5em;
    padding-right: 1.5em; }
  .aligncenter {
    display: block;
    margin: 0 auto; } }

.text-alignright {
  text-align: right; }

.text-alignleft {
  text-align: left; }

.text-aligncenter {
  text-align: center; }

.clearboth {
  clear: both;
  display: block; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: transparent;
  border: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 25em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 54%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacityå=0);
  cursor: default; }

.flex-direction-nav a:before {
  display: block;
  content: '';
  height: 2.5em;
  background-size: 40px;
  background-repeat: no-repeat;
  background-image: url(img/ico-arrowleft.svg); }

/*{ font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }*/
.flex-direction-nav a.flex-next:before {
  background-image: url(img/ico-arrowright.svg); }

/*{ content: '\f002'; }*/
/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/*
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
*/
.flex-direction-nav .flex-prev {
  opacity: .3;
  left: 10px; }

.flex-direction-nav .flex-next {
  opacity: .3;
  right: 10px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*! Tablesaw - v1.0.2 - 2014-12-17
* https://github.com/filamentgroup/tablesaw
* Copyright (c) 2014 Filament Group; Licensed MIT */
table.tablesaw {
  empty-cells: show;
  max-width: 100%;
  width: 100%; }

.tablesaw {
  border-collapse: collapse;
  width: 100%; }

/* Structure */
.tablesaw {
  border: 0;
  padding: 0; }

.tablesaw th, .tablesaw td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em .7em; }

.tablesaw thead tr:first-child th {
  padding-top: .9em;
  padding-bottom: .7em; }

/* Table rows have a gray bottom stroke by default */
.tablesaw-stack tbody tr {
  border-bottom: 1px solid #dfdfdf; }

.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
  display: none; }

/* Mobile first styles: Begin with the stacked presentation at narrow widths */
@media only all {
  /* Show the table cells as a block level element */
  .tablesaw-stack td, .tablesaw-stack th {
    text-align: left;
    display: block; }
  .tablesaw-stack tr {
    clear: both;
    display: table-row; }
  /* Make the label elements a percentage width */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: block;
    padding: 0 .6em 0 0;
    width: 30%;
    display: inline-block; }
  /* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */
  .tablesaw-stack th .tablesaw-cell-label-top, .tablesaw-stack td .tablesaw-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0; }
  .tablesaw-cell-label {
    display: block; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack tbody th.group {
    margin-top: -1px; }
  /* Avoid double strokes when stacked */
  .tablesaw-stack th.group b.tablesaw-cell-label {
    display: none !important; } }

@media (max-width: 39.9375em) {
  .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: none; }
  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    clear: left;
    float: left;
    width: 100%; }
  .tablesaw-cell-label {
    vertical-align: top; }
  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block; }
  .tablesaw-stack td:empty, .tablesaw-stack th:empty {
    display: none; } }

/* Media query to show as a standard table at 560px (35em x 16px) or wider */
@media (min-width: 40em) {
  .tablesaw-stack tr {
    display: table-row; }
  /* Show the table header rows */
  .tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
    display: table-cell;
    margin: 0; }
  /* Hide the labels in each cell */
  .tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
    display: none !important; } }

/*! {% include "hubspot/styles/responsive/required_base.css" %}*/
/*!
[hubspot-metadata]
{
    "path": "custom/page/web_page_basic/style.css"
}
[end-hubspot-metadata]
*/
/*# sourceMappingURL=style.css.map */